*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 16px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(51, 51, 51);
}
.target-header{
	background-color: #CC0000;
	height: 68px;
}
.target-header>span{
	vertical-align: middle;
	display: inline-block;

}
.header-logo{
	width: 38px;	
	margin: 17px;
}
.nav-container,.user-functions-right{
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-weight: bold;
}
.user-functions-right{
	position: absolute;
	display: inline-flex;
	top: 1%;
	right: 8%;
}
.search-cont{
	width: 100%;
}
.target-search{
	border-radius: 25px;
	height: 15px;
	width: 500px;
	padding: 10px;
}
.nav-item{
	list-style: none;
	display: inline-block;
}
.nav-item>a{
	color: white;
	text-decoration: none;
}
.nav-item>a:hover{
	text-decoration: underline;
}
.nav-not-first{
	margin-left: 25px;
}
.second-nav{
	height: 37px;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.second-nav-left{
	padding-left: 25px;
	margin: 5px 0;
}
.wrapper{
	color:#343434;
}
.toplevel-h1{
	text-align: center;
	font-size: 29px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.target-breadcrumbs{
	text-align: center;
	font-size: 14px;
}
.tech-banner{
	max-width: 100%;
	margin-top: 20px;
}
.banner-header{
	font-size: 30px;
}
.banner-header,.center-header{
	text-align: center;
}
.item-header{
	font-size: 20px
}
.tech-container{
	width: 65%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.tech-container>a{
	color: rgb(51, 51, 51);
}
.tech-container a:hover > .tech-item>h2{
	text-decoration: underline;
}
.tech-item{
	display: inline-block;
	width: 400px;
	overflow: hidden;
	text-align: center;
}
.tech-item>img{
	width: 100%;
	max-width: 300px;
}
.service-page{
	text-align: center;
}
.services-provided{
	margin:15px;
}
.services-provided>a{
	display: inline-block;
	width: auto;
	color: rgb(51,51,51);
	text-decoration: none;
}
.services-provided>a:hover{
	text-decoration: underline;
}
.service-item{
	display: inline-block;
	width: 350px;
	text-align: center;
	margin: 0 15px
}
.service-item>p>a{
	color: rgb(51,51,51);
}
.service-item>p{
	font-size: 14px;
}
.services-img,.divider-img{
	width: 100%;
}
.slightly-smaller-icon{
	max-width: 300px;
}
.smaller-icon{
	max-width: 150px;
}
.divider{
	text-align: left;
}
.shopping-at{
	font-size: .75em;
}
.store-name{
	margin-top: -2px;
	font-size: .8em;
	font-weight: bold;
}
.service-status{
	text-align: center;
}
.status-input{
	display: block;
	width: 40%;
	padding: 10px;
	border-radius: 25px;
	margin: 0 auto;
}